<div id='info-topic'>
	<h2>
     <!-- @BACKEND TITLE HERE -->
     <%= @topic.topicName %>
   </h2>
   <div id='topic-description'>
   	 <!-- @BACKEND DESCRIPTION HERE -->
      <%= @topic.description %>
   </div>
   <div class="label label-warning " id='topic-owner'>
       <b>Created by : <!--<%= @topic.topicOwner %>--> Frank Nazikian</b>
   </div>
	<div class="group_item" style="float:right;">
		<h3 id="title" style="display:inline; margin-left: 20px;"> <%= @group.name %> </h3>
		<div id="group_pie_chart" completion="<%= @completion %>">
		</div>
	</div>
</div>
</header>
</div>
<div id="content_body">
  <div class="row-fluid">
    <div class="span9">
	    	<div id="tasks">
		      <div id="task_list">
			<h4>Tasks</h4>
			 <!--  <div class="progress progress-striped active">
			    <div id="current-state"class="bar" >dsad</div>
			</div> -->
			<!--<div class="progress progress-warning">
  			<div id="current-state"class="bar" style="width: 0%"><bold><center style='color: white;'>Group Progress</center></bold></div>
			</div>-->
			<table class="table">
			  <thead>
			    <tr>
			      <th>#</th>
			      <th>Task name</th>
			      <!-- <th>Owner</th> -->
			      <th>Status</th>
			    </tr>
			  </thead>
			  <tbody>
			    <% @tasks.each do |task| %>
			    <tr tag-task="<%= task.user_id %>">
			      <td><%= task.id %></td>
			      <td><%= task.name %></td>
			      <!-- <td><%= User.find(task.user_id).name %></td> -->

			      <td>
			      	<input type="checkbox" class="icheckbox_flat-green" task_id="<%= task.id %>" <%= task.status == '1' ? 'checked' : '' %>>
			      </td>
			    </tr>
			    <% end %>
			  </tbody>
			</table>
		      </div>
	    </div>
      <div id="comments">
        <h4 >Comments</h4>

        <!-- COMMENT ONE -->
        <div class="media">
          <a class="pull-left" href="#">
	    <%= image_tag('fn.png', :class => "media-object", :size => "64x64", :tag => 1) %>
          </a>
          <div class="media-body comment">
            <h4 class="media-heading label label-important">Frank Nazikian</h4><br/>
            Good progress, carry on.
          </div>
          <div class="time"> 2012-05-19 10:32:51 </div>
        </div>

        <hr/>

        <!-- COMMENT TWO -->
        <div class="media">
          <a class="pull-left" href="#">
	    <%= image_tag('fn.png', :class => "media-object", :size => "64x64", :tag => 1) %>
          </a>
          <div class="media-body comment">
            <h4 class="media-heading label label-important">Frank Nazikian</h4><br/>
            The db conception should be made before the auth process.
          </div>
          <div class="time"> 2012-05-18 19:54:03 </div>
        </div>

      </div>
    </div>
    <div class="span2" id="team_user_list" >
      <div id="team-pictures" class="sidebar-nav">
	<% @users.each do |user| %>
	<%= image_tag('avatar.png', :class => "img-polaroid", :tag => user.id, :alt => user.name) %>
	<p><%= user.name %></p>
	<% end %>
      </div>
    </div>
    
  </div>
</div>

<div>
</div>

<script type="text/javascript">

	function generate_pie_charts()
	{
		var container = document.getElementById("group_pie_chart");
		var completion = parseInt(container.getAttribute("completion"));
		var canvas = container.getElementsByTagName('canvas')[0];
		if (!canvas)
		{
			canvas = document.createElement('canvas');
			container.appendChild(canvas);
		}
		
		canvas.width  = container.offsetWidth;
		canvas.height = canvas.width / 2;
		var ctx = canvas.getContext("2d");
		new Chart(ctx).Pie([
					{
						value: completion,
						color:"#F38630"
					},
					{
						value : 100 - completion,
						color : "#E0E4CC"
					}], null);

	}

	window.onload = function()
	{
		generate_pie_charts();
		$('input').iCheck({
    		checkboxClass: 'icheckbox_flat-green'
    		//radioClass: 'iradio_flat-green'
 		 });
	};

	$(window).resize(function()
	{
			generate_pie_charts();
	});

</script>