
		<div id='info-topic'>
	    	<h2>
		     <!-- @BACKEND TITLE HERE -->
		     <%= @topic.topicName %>
		   </h2>
		   <div id='topic-description'>
		   	 <!-- @BACKEND DESCRIPTION HERE -->
		      <%= @topic.description %>
		   </div>
		   <div class="label label-warning " id='topic-owner'>
		       <b>Created by : <%= @topic.topicOwner %></b>
		   </div>
		</div>
 </header> <!-- ferme la balise <header > ouverte dans le layout application.html.erb -->
</div>

<div id="content_body">
	    <div class="row-fluid">
	      <div class="span9" id="topic_group_list" >
			<!--
		    
		    	GROUP LIST
		    
		  	-->

		  	<% @groups.each do |group| %>
			  	<div class="group_item group_item_open" completion="30">
					<h3 id="title" style="display:inline; margin-left: 20px;"> <%= link_to group.name, "#{@topic.id}/group/#{group.id}" %> </h3>
					<div class="graph_container">
					</div>
					<span class="badge badge-inverse"><%= group.users.count %></span>
				</div>
			<% end %>

	


	      </div>
	      <div class="span3" id="topic_user_list" >
		
			<%= image_tag("tmp_photo.png", :class => "img-polaroid") %>
			<%= image_tag("tmp_photo.png", :class => "img-polaroid") %>
			<%= image_tag("tmp_photo.png", :class => "img-polaroid") %>
			<%= image_tag("tmp_photo.png", :class => "img-polaroid") %>
			<%= image_tag("tmp_photo.png", :class => "img-polaroid") %>
			<%= image_tag("tmp_photo.png", :class => "img-polaroid") %>
			<%= image_tag("tmp_photo.png", :class => "img-polaroid") %>
			<%= image_tag("tmp_photo.png", :class => "img-polaroid") %>

	      	


		<!--
		    
		    USER LIST
		
		  -->



	      </div>
	    </div>
	</div>


<!-- <h1><%= @topic.topicOwner %></h1>
<h1><%= @topic.topicName %></h1>
<h2><%= @topic.description %></h2>
<hr/>

<% @groups.each do |group| %>
  <h1><%= group.name %></h1>
  <h2>Team Members:</h2>
  <% group.users.each do |user| %>
    <h2><%= user.name %></h2>
  <% end %>
  <hr/>
<% end %>

<h2>List of users:</h2>
<% @list.users.each do |user| %>
<h3><%= user.name %></h3>
<% end %>
<hr/>
 -->

<script type="text/javascript">

    	function generate_pie_charts()
    	{
    		var teams = document.getElementsByClassName("group_item");

    		for (var i=0; i < teams.length; i++)
    		{
    			var completion = parseInt(teams[i].getAttribute("completion"));
    			var container = teams[i].getElementsByClassName('graph_container')[0];
    			var canvas = container.getElementsByTagName('canvas')[0];
    			if (!canvas)
    				canvas = document.createElement('canvas');

    			canvas.setAttribute('id','graph_container_canvas_' + i);
    			console.log(container.offsetHeight);
    			
				  canvas.width  = container.offsetWidth;
				  canvas.height = canvas.width / 2;
    			var ctx = canvas.getContext("2d");
    			new Chart(ctx).Pie([
							{
								value: completion,
								color:"#F38630"
							},
							{
								value : 100 - completion,
								color : "#E0E4CC"
							}], null);

    			container.appendChild(canvas);
    		}
    	}

    	window.onload = function()
    	{
    		generate_pie_charts();
    	};

    	$(window).resize(function()
    	{
  			generate_pie_charts();
		});

    </script>
