<!DOCTYPE html>
<html>
<head>
  <title>SchoolGroup</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div  class="well" id="header_content">
	<header>
	  <% if user_signed_in? %>
	  	<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
	  <% else %>
	  	<!-- Button to trigger modal -->
		<a href="#pop-up-sign_in"  class="button_sign_in " data-toggle="modal">Sign in</a>
	 
		<!-- Modal -->
		<div id="pop-up-sign_in" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="pop-up-sign_inlLabel" aria-hidden="true">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3 id="pop-up-sign_inLabel">Modal header</h3>
		  </div>
		  <div class="modal-body">
		  	  	<%= render :partial => "devise/shared/sign_in"%>
		  </div>
		  <div class="modal-footer">
		  </div>
		</div>

	  <% end %>
	
<%= yield %>

</body>
</html>
